#streetcar{
  height:10vw;
  width: auto;
  position: relative;
  animation-name: streetcar-an;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-direction: alternate;

}


@keyframes streetcar-an {

   0%{
    left:-60%;
  }
  30%{
    left:100%;
  }
  50%{
    left:30%;
  }

  60%{
    left:30%;
  }
  80%{
    left:0%;
  }

  100%{
    left:-60%;
  }
}
/* @media(max-width:30rem){
  #streetcar{
    position: relative;
    animation-name: streetcar-an;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
      animation-direction: alternate;
    width: 80%
  }
@keyframes streetcar-an {

  from{
    right:0%;
  }
  to{
    right:100%;
  }
}
} */
