#streetcar{
  height:10vw;
  width: auto;
  position: relative;
  animation-name: streetcar-an;
  animation-duration: 70s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-direction: alternate;

}


@keyframes streetcar-an {

   0%{
    left:-60%;
  }
  30%{
    left:10%;
  }
  50%{
    left:50%;
  }

  60%{
    left:50%;
  }
  80%{
    left:100%;
  }

  100%{
    left:140%;
  }
}
