body{
font-family: 'Poppins', sans-serif;
}
h1{
	color: rgb(0,235,82);
	font-size: 2.5rem;


}
h2{
	padding-bottom: 0.85rem;
	padding-top: 0.85rem;
	font-size: 1.4rem;
	font-weight: 300;
	letter-spacing: 0.1rem;
	margin: 0;

}

.heading h2{
	font-size: 1rem;
	margin: 0;
	padding-top: 0;
}

.heading h1{
	margin-top: 3rem;
	margin-bottom:0rem;
}
.heading{
	padding-bottom: 2rem;
}

.block{
	margin: 1rem;
	height: 15rem;
	transition: 0.5s;

}
.connect{
	height: 15rem;
	width: 100%;
	background-image: url("../img/park-03.svg");
	background-repeat: no-repeat;
	background-clip:border-box;
	transition: 0.25s;
}

@media (min-width:30rem) {
	.block{
	width: 15rem;
	height: 15rem;
}
.connect{
	width: 32rem;
	height: 15rem;
}

.top-row{
	display: flex;
	justify-content: center;

}

.bottom-row{
display: flex;
justify-content: center;

}
}



.button h2{
	margin-top: -1em;
}
#home-nav{
	padding: 1rem;
	margin:auto;
}

nav a{
	padding-right: 1rem;

		color:#28a396;
	transition: 0.5s;
}

nav a:hover,nav a:focus{
	color: #42f4e2;
}


h3{
	font-weight: 400;
	font-size: 1.25rem;
	margin-left: 0.5rem;
	margin-top: 0.25rem;
}

a{
	color: black;
	text-decoration: none;
	transition: linked 0.5s;
	margin: 0;
	padding: 0;
}

/* .link a{
	color: rgb(0,235,82);
	text-decoration: underline;
}

.link a:hover,.link a:focus{
	color: #00ebc7
} */

p{
	line-height: 2rem;
}
iframe{
	border:none;
}

.link{
	color: rgb(0,204,71);
	transition: 1s;
}
.link:hover{
	text-decoration: underline;
}

.project{
	padding-bottom: 1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.5em;
	flex: 1 1 15rem;
}



.project-blocks{
	display: flex;
	flex-wrap: wrap;

}

/* styling n shit */

.me{
	background-image: url("../img/appart-01.svg");
}

.projects{
	background-image:url("../img/gallery-02.svg");

}

@media (max-width:30rem) {
	.projects{
		background-image:url("../img/large-gallery-04.svg");
		background-repeat: repeat-x;


	}
}

#home-nav a{
	color: black;
}
.project img{
	width: 100%;
	height:100%;
}

#bio p{
	max-width: 40rem;
}

.project:hover,.project:focus{
opacity: 0.6;

}

.block:hover,.block:focus{
	color: white;
}

.bottom-row{
	transition: 0.25s;
}

.connect:hover,.connect:focus{
	color: white;
}

#bio img{
	max-width: 30rem;
	width: 100%;
}
footer{
	padding-left: 1rem;

}
footer p{
	font-size: 0.25rem;
}
