body{
font-family: 'Poppins', sans-serif;
}
h1{
	color: rgb(0,235,82);
	font-size: 2.5rem;


}
h2{
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0.25rem;
	margin-top: -1em;
}
h3{
	margin-left: 0.5rem;
	margin-top: 0.25rem;
}

h4{
	font-size: 1.7rem;
	font-weight: 700;
}
h5{
	font-weight: 300;
	margin: 0;
	padding-bottom: 2rem;

}
h6{
	font-size: 1.24rem;
	font-weight: 600;
	margin: 0;

}
.sub{

	padding-left: 0.5rem;
	margin-top: -1.5rem;
}

.view2{
	background-image: url('http://www.mischap.com/img/view2-sq.jpg');
	background-repeat:no-repeat;
background-size:contain;
background-position:center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-blend-mode: overlay;
}
.cf{
	background-image: url('http://www.mischap.com/img/connectfort-sq.jpg');
	background-repeat:no-repeat;
background-size:contain;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-position:center;
background-blend-mode: overlay;
}
.awyvr-nav{
	background-image: url('http://www.mischap.com/img/awyvr-sq.jpg');
	background-repeat:no-repeat;
background-size:contain;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-position:center;
background-blend-mode: overlay;
}
.fugue-nav{
	background-image: url('http://www.mischap.com/img/fugue-sq.jpg');
	background-repeat:no-repeat;
background-size:contain;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-position:center;
background-blend-mode: overlay;
}
.pro-nav{
	color:rgb(0,215,217);
	font-weight: 400;
	transition: 0.5s;
}
.pro-nav:focus,.pro-nav:hover{
	color:#add8d9;
}
a{
	/*color: white;*/
	text-decoration: none;
	transition: linked 0.5s;
}

p{
	line-height: 2rem;
}
iframe{
	border:none;
}

.ig{
 width: 3.5rem;
 height: 3.5rem;
 margin-right: 1.5rem;
 margin-top:1.5rem;
 padding: 0.2rem;
 border-radius: 2rem;


 float: right;
 transition: 0.5s;

}
@media(max-width: 350px){
	.ig{
		position: absolute;
		margin-left: 5em;
	}


}
.ig:hover,.ig:focus{
filter: drop-shadow(0px 0px 3px rgba(12,12,12,0.4));

}
.linked:hover,.linked:focus{
filter: drop-shadow(0px 0px 3px rgba(12,12,12,0.4));

}

.linked{
	width: 3.5rem;
	height: 3.5rem;
	margin-left: 1.5rem;
	margin-top: 2rem;
	border-radius: 3rem;

}

.social-pic{
	display: inline-block;
	margin-top: -5.9rem;
}



.me{
	background-color: rgba(0,235,82,0.6);
	transition: 0.5s;
	color: white;

}

.work{
	background-color: rgba(0,215,217,0.6);
	transition: 0.5s;
	color: white;
}
.contact{
	background-color: rgba(4,159,248,0.6);
	transition:  0.5s;
	color: white;
}
.social{
	background-color: rgba(0,156,54,0.6);
	transition: 0.5s;
	color: white;
}

.me:hover,.me:focus{
 background-color: rgba(128,255,178,0.5);

}

.work:hover,.work:focus{
background-color: rgba(178,238,255,0.5);
}

.contact:hover,.contact:focus{
	 background-color: rgba(78,186,248,0.5);
}

.social:hover,.social:focus{
	 background-color: rgba(50,156,87,0.5);

}

 /*work*/

 .projects{
 	background-color:rgba(0,215,217,0.5);
 	transition: 0.5s;
 	color: white;
	display: block;
 }

 .projects:hover,.projects:focus{
 	background-color: rgba(0,215,217,0.2);
 }

.box-pic{
	width: 100%;
	height: 100%;


	position: relative;
	top: -3.2412em;
	z-index: -1;
}

.pro-box{
	top: -4.99em;
	display: block;
	z-index: -2;
}
.pro-box2{
	top: -6.245em;
	display: block;
	z-index:-2;
}

.button{

float: left;
margin-right: 0.4rem;
}

.now-me{
	width: 3rem;
height: 2rem;
padding:1rem 0rem 0rem 0.5rem;
background-color: rgba(0,235,82,1);
color: white;

}

.indicator{
	background-color: white;
	width: 0.3rem;
	height: 0.3rem;
	border-radius: 0.3rem;
	margin: -1rem auto;
	align-content: center;

	/*margin-top: -1.25rem;
	align:center;*/
	/*margin-left: 1.25rem;*/
}
.work-button{
	height: 2em;
	width: 4.5rem;
	padding-top: 1rem;
	padding-left: 0.6rem;
	transition: 0.4s;
	background-color: rgb(0,215,217);
}
.work-button:hover,.work-button:focus{
	color: rgb(180,180,180);
}

.contact-button{
background-color: rgba(4,159,248,1);

width: 6.5rem;
height: 2rem;
padding-top: 1rem;
padding-left: 0.4rem;
}
.contact-button:hover,.contact-button:focus{
	color: rgb(180,180,180);
}

.me-button{
width: 3rem;
height: 2rem;
padding:1rem 0rem 0rem 0.5rem;
transition: 0.4s;
background-color:rgb(0,235,82);
}

.me-button:hover,.me-button:focus{
	color: rgb(180,180,180);
}

.now-work{
	background-color: rgba(0,215,217,1);
	color: white;
	height: 2em;
	width: 4.5rem;
	padding-top: 1rem;
	padding-left: 0.6rem;

}

.now-contact{
	background-color: rgba(4,159,248,1);
	width: 6.5rem;
height: 2rem;
padding-top: 1rem;
padding-left: 0.4rem;
	color: white;
}

.bio-img{
	height: auto;
	width: 90%;
	max-width:40rem;
}


.link{
	color: rgb(0,204,71);
	transition: 1s;
}
.link:hover{
	text-decoration: underline;
}

.project{
	padding-bottom: 1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.5em;
}

.project-header-l{


	padding-right: 1.5em;

}
.project-header-r{

	padding-right: 1em;

}



.footer-text{
	/* opacity: 0.25; */
	color: rgb(180,180,180);
	font-weight: 300;
	font-size: 0.5em;


}
.contact-footer{

	position: absolute;
 right: 0;
 bottom: 0;
 left: 0;
 padding: 1rem;

}
.ghost{
	color: rgba(255,255,255,0);
}
.project-header{
	padding-right: 2rem;
}
@media (max-width:40em) {


.cf-logo{
	margin: 0;
	width: 45%;
	padding:0;
	padding-top: 6%;
	display: inline;
}
.b-warm{
	width: 45%;
	padding-top: 6%;
	display: inline;
}
}
.footer-img{
	width: 90%;
	height: auto;
	padding-left: 2em;
}
.fugue{
	width: 100%

}
.video-wrap {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */

	height: 0;
}
.video-wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
